:root {
  --colors-color: #ffffff;
  --colors-color-border: #ebebeb;
  --colors-color-border-hover: #b6d2ff;
  --colors-color-disabled: #f6f6f6;
  --colors-color-error: #e65a4f;
  --colors-color-error-bg: #ffeded;
  --colors-color-icon: #71717a;
  --colors-color-icon-active: var(--colors-primary-color-primary-active);
  --colors-color-icon-disabled: #a8a8a8;
  --colors-color-icon-hover: #f05e2280;
  --colors-color-link: #4f75a2;
  --colors-color-link-active: var(--colors-primary-color-primary-active);
  --colors-color-link-hover: var(--colors-primary-color-primary);
  --colors-color-primary-inner-shadow: #ffffff1f;
  --colors-color-secondary-border: #3b82f6;
  --colors-color-success: #21a366;
  --colors-color-success-bg: #f1fdf6;
  --colors-color-text: #3c3c3c;
  --colors-color-text-disabled: #a8a8a8;
  --colors-color-text-secondary: #868686;
  --colors-color-warning-bg: #faf8c6;
  --colors-color-white: #ffffff;
  --colors-bg-color-bg1: #f6f6f6;
  --colors-bg-color-bg2: #f4f5fa;
  --colors-bg-color-bg3: #e9f4fc;
  --colors-bg-color-primary-bg: #f05e2257;
  --colors-primary-color-primary: #f05e22;
  --colors-primary-color-primary-active: #5f1c00;
  --colors-primary-color-primary-border: #fac8b4;
  --colors-primary-color-primary-hover: #982d01;
  --colors-primary-color-primary-shadow: #f05e2257;
  --colors-secondary-color-secondary: #294f7a;
  --colors-secondary-color-secondary-active: #142a44;
  --colors-secondary-color-secondary-hover: #496d98;
  --additionalColors-gray1: #f6f6f6;
  --additionalColors-gray2: #efefef;
  --additionalColors-gray3: #a8a8a8;
  --additionalColors-black7: #2f2f2f;
  --primary-default: #f05e22;
  --primary-hover: #982d01;
  --primary-clicked: #2a2a2a;
  --third-clicked: #3f5270;
  --blue-1: #294f7a;
  --blue-2: #7abbe0;
  --blue-3: #deeff9;
  --strokeBlue: #3b82f6;
  --secondary-blue1: #294f7a;
  --secondary-blue2: #7abbe0;
  --secondary-blue3: #deeff9;
  --text: #3c3c3c;
  --link: #1976d2;
  --green-1: #e9fac6;
  --green-2: #4f6c12;
  --green-3: #4ca34a;
  --yellow-1: #faf8c6;
  --yellow-2: #6e6900;
  --pink-1: #ffd5d2;
  --purple-2: #701b1b;
  --asphalt-1: #cbdae9;
  --asphalt-2: #22496c;
  --gray-1: #f6f6f6;
  --gray-2: #a8a8a8;
  --Gray-6: #71717a;
  --white: #ffffff;
  --stroke-blue: #3b82f6;
  --text-1: #2b2b2b;
  --text-2: #677386;
  --text-descriprion: #71717a;
  --text-error: #dc3225;
  --stroke: #ebebeb;
  --text-table-header: #3b4556;
  --text-main: #2b2b2b;
  --link-colour: #1976d2;
  --colors-logo-bg: #294f7a;
}
